@import variables
@import mixins
@import text
@import buttons

.mainDivBurger
    display: none
    @media (max-width: $mobile)
        position: absolute
        bottom: 1px
        z-index: 50
        display: flex
        justify-content: center
        height: 100vh
        font-family: 'Inter', sans-serif
        background-color: $defaultGrey
        align-items: flex-start
    .frame73
        position: relative
        background-color: $defaultGrey
        user-select: none
        width: 320px
        height: 550px
        @media (max-width: $mobile)
            width: 100.0000vw
            height: 171.8750vw

    .logo
        position: absolute
        width: 108px
        height: 65px
        top: 39px
        left: 106px
        @media (max-width: $mobile)
            width: 33.7500vw
            height: 20.3125vw
            top: 12.1875vw
            left: 33.1250vw

    .cross
        position: absolute
        cursor: pointer
        width: 22px
        height: 22px
        top: 23px
        left: 267px
        @media (max-width: $mobile)
            width: 6.8750vw
            height: 6.8750vw
            top: 7.1875vw
            left: 83.4375vw
