@import ../../../include-media

$mainRed: #D0082C
$mainFontFamily: 'Inter', sans-serif
$mainBlue: #302D3D
$mainWhite: #FFFFFF

.googleAuthBtn
  position: relative
  display: flex
  justify-content: center
  top: 55%
  @media (max-width: 440px)
    top: 85vw
  @media (max-width: 344px)
    display: none

.modalSpace
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  z-index: 100
  background-color: rgba(0,0,0,0.1)
  backdrop-filter: blur(4px)

.authModalForm
  position: absolute
  // left: 30vw
  font-family: $mainFontFamily
  position: absolute
  z-index: 100
  width: 440px
  height: 667px
  background: $mainWhite
  @media (max-width: 440px)

    width: 100.0000vw
    height: 100vh

.spanSignInWord
  position: absolute
  top: 189px
  left: 191px

  color: $mainBlue
  font-size: 24px
  font-weight: 600
  letter-spacing: -0.02em
  @media (max-width: 440px)
    top: 42.9545vw
    left: 43.4091vw
    font-size: 5.4545vw

.logoImg
  position: absolute
  width: 129px
  height: 77px
  top: 49px
  left: 156px
  @media (max-width: 440px)
    width: 29.3182vw
    height: 17.5000vw
    top: 11.1364vw
    left: 35.4545vw

@mixin inputField ($top)
  position: absolute
  width: 250px
  height: 14px // Странно работает, но ладно
  top: $top
  left: 95px
  padding: 10px
  font-size: 13px
  border-radius: 5px
  border: 1px solid #EFEEEE
  &:focus
    outline: none
  @media (max-width: 440px)
    width: 56.8182vw
    font-size: 2.9545vw
    height: 3.1818vw
    left: 21.5909vw
    padding: 2.2727vw
    border-radius: 1.1364vw

.inputField_email
  @include inputField ($top: 246px)
  @media (max-width: 440px)
    @include inputField ($top: 55.9091vw)

.inputField_password
  @include inputField ($top: 302px)
  @media (max-width: 440px)
    @include inputField ($top: 68.6364vw)

.placeholderText
  color: #7D7C85

.forgotPassword
  position: absolute
  top: 495px
  left: 95px
  color: $mainBlue
  font-size: 12px
  font-weight: 400
  text-decoration-line: underline
  @media (max-width: 440px)
    top: 112.5000vw
    left: 21.5909vw
    font-size: 2.7273vw

.registerButton
  // TODO: On click
  // Open overlay: "Регистрация"
  // Animate: Dissolve

  position: absolute
  top: 495px
  left: 267px
  color: $mainBlue
  animation-timing-function: ease-out
  animation-duration: 300ms
  font-size: 12px
  font-weight: 600
  letter-spacing: 0em
  text-decoration-line: underline
  @media (max-width: 440px)
    top: 112.5000vw
    left: 60.6818vw
    font-size: 2.7273vw

.signInButton
  position: absolute
  top: 556px
  left: 95px
  color: $mainWhite
  display: flex
  width: 250px
  height: 48px
  padding: 10px 20px
  justify-content: center
  align-items: center
  border-radius: 5px
  border: none
  gap: 10px
  cursor: pointer
  background: $mainRed
  font-family: Inter
  font-size: 14px
  font-weight: 600
  line-height: 17px
  letter-spacing: 0em
  &:hover
    background: #DA3739
    transition: 0.15s

  @media (max-width: 440px)
    top: 126.3636vw
    left: 21.5909vw
    width: 56.8182vw
    height: 10.9091vw
    padding: 2.2727vw 4.5455vw
    border-radius: 1.1364vw
    gap: 2.2727vw
    font-size: 3.1818vw
    line-height: 3.8636vw
