@mixin inputField ($top)
  position: absolute
  box-sizing: border-box // иначе странно считает высоту
  width: 250px
  height: 36px
  top: $top
  left: 95px
  padding: 10px
  font-family: $mainFontFamily
  font-size: 13px
  border-radius: 5px
  border: 1px solid #EFEEEE
  &:focus
    outline: none
  @media (max-width: 440px)
    width: 56.8182vw
    font-size: 2.9545vw
    height: 8.1818vw
    left: 21.5909vw
    padding: 2.2727vw
    border-radius: 1.1364vw

@mixin testCredentialsSpan ($top)
  position: absolute
  top: $top
  font-size: 12px
  @media (max-width: 440px)
    font-size: 2.7273vw

@mixin switchWindowTypeSpan ($top, $left)
  position: absolute
  cursor: pointer
  top: $top
  left: $left
  color: $mainBlue
  animation-timing-function: ease-out
  animation-duration: 300ms
  font-size: 12px
  font-weight: 600
  letter-spacing: 0em
  text-decoration-line: underline

@mixin errorMessage_inputField($top)
  position: absolute
  top: $top
  right: 95px
  font-size: 11px
  font-weight: 400
  line-height: 13px
  letter-spacing: 0em
  color: $mainRed
  @media (max-width: 440px)
    right: 21.5909vw
    font-size: 2.5000vw
    line-height: 2.9545vw