.havePasswordSpan
  position: absolute
  font-family: Inter
  font-size: 12px
  font-weight: 400
  line-height: 15px
  letter-spacing: 0em
  top: 495px
  left: 145px
  @media (max-width: 440px)
    font-size: 2.7273vw
    line-height: 3.4091vw
    top: 112.5000vw
    left: 32.9545vw


.topBigSpan
  position: absolute
  top: 189px
  width: 100%
  display: flex
  justify-content: center
  color: $mainBlue
  font-size: 24px
  font-weight: 600
  letter-spacing: -0.02em
  @media (max-width: 440px)
    top: 42.9545vw
    font-size: 5.4545vw

.testCredentialsSpan1
  @include testCredentialsSpan(435px)
  @media (max-width: 440px)
    top: 98.86vw
    font-size: 2.7273vw