@import variables
@import include-media
@import functions

@mixin rectangle41Text
  color: #DEDCE7
  font-family: $mainFontFamily
  letter-spacing: -0.06em
  @include media(">=tablet", "<=1400px") // TODO: Временное решение?
    height: 6.714vw
    line-height: 6.719vw
    font-size: 7.857vw
  @include media(">1400px")
    height: 94px
    line-height: 94px
    font-size: 110px

@mixin rectangle16
  position: absolute
  background: $mainRed
  border-radius: 0.1429vw
  transform: rotate(-4.39deg)

//@mixin groupImage($top, $left, $width, $height)
//  position: absolute
//  display: block
//  top: convertToVw_1400($top)
//  left: convertToVw_1400($left)
//  width: convertToVw_1400($width)
//  height: convertToVw_1400($height)

@mixin ellipse($width, $top, $left)
  position: absolute
  height: 13.5714vw
  width: $width
  top: $top
  left: $left
  background: rgba(255, 255, 255, 0.3)
  filter: blur(3.5714vw)
  //filter: blur(convertToVw_1400(50))
  z-index: 2

@mixin group6_Button($width, $marginRight)
  width: $width
  height: 4.285vw
  border-radius: 2.1429vw
  padding: 0.714vw 2.142vw
  gap: 0.714vw
  border: 2px solid $mainBlue // с двумя пикселями vw странно работает *
  box-sizing: border-box
  background: #FFFFFF
  margin-right: $marginRight
  cursor: pointer
  color: $mainBlue

  &:hover
    transition: 0.2s
    border: 2px solid $mainRed // *см. выше
    color: $mainRed

@mixin auth_Button
  display: flex
  height: 3.1429vw
  border-radius: 1.7857vw
  padding: 0.7143vw 2.1429vw 0.7143vw 2.1429vw
  gap: 0.7143vw
  border: none
  background-color: #FFFFFF
  color: $mainBlue
  font-family: $mainFontFamily
  font-size: 1.4286vw
  font-weight: 400
  line-height: 1.7143vw
  cursor: pointer
  &:hover
    transition: 0.2s
    background-color: #4B6FCB
    color: #FFFFFF