@import variables
@import mixins
@import functions

//.mainDiv
/*max-height: 100vh
/*height: 200vh
/*background-color: red

.welcomeDiv
  min-height: 874px
  height: 100vh
  padding-top: 1px
//Add a small padding to prevent margin collapsing

.logoTxt
  position: absolute
  top: convertToVw_1400(75)
  left: convertToVw_1400(133)
  width: convertToVw_1400(186.67)
  height: convertToVw_1400(112)

.rectangle41
  box-sizing: border-box
  height: convertToVw_1400(874)
  //width: 1870px // оригинал
  width: calc(100vw - 50px)
  margin: 25px 25px
  background-color: $mainGray
  border-radius: 20px

//.rectangle41TextBox
//  width: 1235px
//  position: absolute
//  margin-left: auto
//  margin-right: auto
//  padding-left: 73px
//  top: 161px

.textBig1
  @include rectangle41Text
  position: absolute
  top: convertToVw_1400(288)
  left: convertToVw_1400(120)
  width: convertToVw_1400(532)
  font-weight: 500
  z-index: 1

.javaTextPosition
  @include rectangle41Text
  position: absolute
  z-index: 1
  top: convertToVw_1400(404)
  left: convertToVw_1400(139)
  width: convertToVw_1400(1120)
  transform: rotate(-2.19deg)
  font-weight: 700

.textBigJava
  @include rectangle41Text
  color: #FFFFFF
  position: relative
  z-index: 1

.textBigJavaBrackets
  @include rectangle41Text
  //@include rectangle41Text
  position: relative
  font-weight: 400
  color: #FFFFFF
  z-index: 1

.textBig2
  @include rectangle41Text
  font-weight: 500
  position: absolute
  top: convertToVw_1400(508)
  left: convertToVw_1400(513)
  width: convertToVw_1400(842)

.textBig3
  @include rectangle41Text
  position: absolute
  z-index: 1

.textSmall1_Container
  position: absolute
  top: convertToVw_1400(630)
  left: convertToVw_1400(520)
  width: convertToVw_1400(438)

.textSmall1
  height: convertToVw_1400(56)
  font-family: $mainFontFamily
  font-size: convertToVw_1400(20)
  font-weight: 400
  line-height: convertToVw_1400(24)
  text-align: left
  color: #FFFFFF

.rectangle16__above1400
  //TODO: временное решение. По идее можно заменить обычным rectangle16
  @include rectangle16
  top: -14px
  left: -9px
  height: 128px
  width: 310px
  @include media("<=1400px")
    display: none

.rectangle16
  @include rectangle16
  top: convertToVw_1400(406)
  left: convertToVw_1400(130)
  height: convertToVw_1400(128)
  width: convertToVw_1400(310)
  z-index: 0
  @include media(">1400px")
    display: none

.group4
  @include groupImage(658, 91, 355, 125)

.group5
  @include groupImage(234, 667, 595, 73)

.ellipse4
  @include ellipse(330px, -70px, 566px)

.ellipse5
  @include ellipse(407px, 804px, 1023px)

.buttonStartLearning
  position: absolute
  height: 56px
  width: 251px

  left: 400px
  bottom: 187px
  border-radius: 10px
  border: none
  background: $mainRed
  font-family: $mainFontFamily
  font-weight: 600
  font-size: 20px
  line-height: 24px
  color: #FFFFFF
  cursor: pointer
  transition: 0.2s

  &:hover
    background: #DA3739

.group6_ButtonsContainer
  //position: absolute
  position: absolute
  height: 60px
  width: 1057px
  // можно регулировать
  margin-left: auto
  margin-right: auto
  right: 39px
  top: 88px
  border-radius: 30px
  z-index: 3

.group6_Button1
  @include group6_Button(260px, 25px)

.group6_Button2
  @include group6_Button(283px, 25px)

.group6_Button3
  @include group6_Button(179px, 25px)

.group6_Button4
  @include group6_Button(260px, 0px)

.group6_ButtonContent
  font-family: $mainFontFamily
  font-weight: 700
  font-size: 20px
  line-height: 24px

.auth_ButtonsContainer
  display: flex
  position: absolute
  bottom: 873px
  right: 75px
  margin-left: auto
  margin-right: auto

.auth_Button1
  margin-left: auto
  //width: 108px
  @include auth_Button(0px)

.auth_Button2
  //width: 187px
  margin-left: 10px
  @include auth_Button(0px)

// RESPONSIVE DESIGN

//@import responsive
@import responsiveAbove1400px