@import vars

@mixin inputField ($top)
    position: absolute
    box-sizing: border-box // иначе странно считает высоту
    width: 250px
    height: 36px
    top: $top
    padding: 10px
    font-family: $mainFontFamily
    font-size: 13px
    border-radius: 5px
    border: 1px solid #EFEEEE
    &:focus
        outline: none
    // @media (max-width: 440px)
    //     width: 56.8182vw
    //     font-size: 2.9545vw
    //     height: 8.1818vw
    //     left: 21.5909vw
    //     padding: 2.2727vw
    //     border-radius: 1.1364vw

.mainDiv_profile
    position: relative
    font-family: $mainFontFamily
    height: 100vh
    min-height: 1080px

    @media (max-width: 768px)
        min-height: 961px

    @media (max-width: 320px)
        min-height: 799px

.header_profile
    position: absolute
    top: 0
    z-index: 100
    display: flex
    justify-content: space-between
    width: 100%
    height: 79px
    background: $mainBlue
    @media (max-width: 320px)
        height: 50px

.logo_header_profile
    position: relative
    width: 235px
    height: 49px
    top: 15px
    left: 20px
    @media (max-width: 500px)
        display: none

.logo_header_profile_mobile
    display: none
    @media (max-width: 500px)
        display: initial
        position: relative
        box-sizing: border-box
        top: 24px
        left: 17px
        height: 32px
    @media (max-width: 320px)
        top: 15px
        left: 14px
        height: 22px

.headerRightSection_profile
    display: flex
    position: relative
    top: 12px
    right: 20px

.notific_profile
    position: relative
    top: 17px
    right: 70px
    color: $mainWhite
    font-size: 14px
    font-weight: 400px
    cursor: pointer
    -webkit-user-select: none // Safari
    -ms-user-select: none // IE 10 and IE 11
    user-select: none // Standard syntax
    @media (max-width: 320px)
        display: none

.redNumber_notific
    color: $mainWhite
    position: relative
    display: flex
    justify-content: center
    align-items: center
    bottom: 4px
    left: 28px
    font-size: 14px
    z-index: 100
    width: 23px
    height: 23px
    border-radius: 23px
    cursor: pointer
    -webkit-user-select: none // Safari
    -ms-user-select: none // IE 10 and IE 11
    user-select: none // Standard syntax
    background-color: $mainRed

.pfp_header_profile
    border-radius: 55px
    width: 55px
    height: 55px
    @media (max-width: 320px)
        height: 35px
        width: 35px

.toTheMainPage_profile
    position: absolute
    width: 92px
    height: 15px
    top: 106px
    left: 128px
    @media (max-width: 768px)
        left: 20px
    @media (max-width: 320px)
        top: 65px
        left: 10px

.span_big_profile
    position: absolute
    top: 186px
    left: 120px

    color: #000
    font-size: 24px
    font-style: normal
    font-weight: 600
    line-height: normal
    letter-spacing: -0.48px
    @media (max-width: 768px)
        top: 148px
        left: 20px
    @media (max-width: 320px)
        top: 108px
        left: 20px
        font-size: 18px

.centerDiv_profile
    display: flex
    justify-content: center
    position: absolute
    width: 100%
    top: 277px
    @media (max-width: 768px)
        top: 237px
    @media (max-width: 320px)
        top: 162px

    .pfp_content_profile
        border-radius: 157px
        width: 157px
        height: 157px
        // @media (max-width: 320px)
        //     height: 35px
        //     width: 35px

    .redButton_profile
        position: absolute
        top: 474px
        color: $mainWhite
        display: flex
        width: 250px
        height: 48px
        padding: 10px 20px
        justify-content: center
        align-items: center
        border-radius: 5px
        border: none
        gap: 10px
        cursor: pointer
        background: $mainRed
        font-family: Inter
        font-size: 14px
        font-weight: 600
        line-height: 17px
        letter-spacing: 0em
        &:hover
            background: #DA3739
            transition: 0.15s

    .inputField_profile_1
        @include inputField($top: 231px)
    .inputField_profile_1_withError
        @include inputField($top: 231px)
        border-color: $mainRed

    .inputField_profile_2
        @include inputField($top: 287px)
    .inputField_profile_2_withError
        @include inputField($top: 287px)
        border-color: $mainRed

    .inputField_profile_3
        @include inputField($top: 343px)
    .inputField_profile_3_withError
        @include inputField($top: 343px)
        border-color: $mainRed

.footer_profile
    position: absolute
    color: $mainWhite
    bottom: 0
    width: 100%
    height: 57px
    background-color: $mainBlue

.copyright_span_profile
    position: absolute
    color: #FFF
    text-align: center
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: normal
    top: 21px
    left: 119px
    @media (max-width: 768px)
        left: 20px

.support_span_profile
    position: absolute
    color: #FFF
    text-align: center
    font-family: Inter
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: normal
    top: 21px
    left: 319px
    letter-spacing: 0em
    text-align: center
    @media (max-width: 768px)
        left: 134px
    @media (max-width: 320px)
        left: 160px
