@import variables
@import ../../../include-media
@import functions

@mixin rectangle41Text
  color: #DEDCE7
  font-family: $mainFontFamily
  letter-spacing: -0.06em
  @include media(">1400px")
    height: 94px
    line-height: 94px
    font-size: 110px
  @include media(">tablet", "<=1400px")
    height: 6.714vw
    line-height: 6.719vw
    font-size: 7.857vw
  @include media(">phone", "<=tablet")
    height: 6.6406vw
    line-height: 6.6406vw
    font-size: 7.8125vw
  @include media("<=phone")
    height: 6.5625vw
    line-height: 6.5625vw
    font-size: 7.8125vw


@mixin rectangle16Mixin
  position: absolute
  background: $mainRed
  @include media(">1400px")
    //повёрнутый элемент внутри другого повёрнутого элемента
    transform: rotate(-2.2deg)
  @include media(">tablet", "<=1400px")
    transform: rotate(-4.39deg)
  @include media(">phone", "<=tablet")
    transform: rotate(-4.39deg)
  @include media("<=phone")
    transform: rotate(-4.39deg)

@mixin ellipse($width, $top, $left)
  position: absolute
  width: $width
  top: $top
  left: $left
  background: rgba(255, 255, 255, 0.2)
  z-index: 2
  @include media(">1400px")
    height: 190px
    filter: blur(50px)
    background: rgba(255, 255, 255, 0.3)
  @include media(">tablet", "<=1400px")
    height: 13.5714vw
    filter: blur(3.5714vw)
    background: rgba(255, 255, 255, 0.3)
  @include media(">phone", "<=tablet")
    height: 19.7917vw
    filter: blur(6.5104vw)
    background: rgba(255, 255, 255, 0.2)
  @include media("<=phone")
    height: 35vw
    filter: blur(11.5625vw)
    background: rgba(255, 255, 255, 0.2)

@mixin group6_Button($width, $marginRight)
  width: $width
  // с двумя пикселями vw странно работает *
  border: 2px solid $mainBlue
  box-sizing: border-box
  background: #FFFFFF
  margin-right: $marginRight
  cursor: pointer
  color: $mainBlue
  @include media(">1400px")
    height: 60px
    border-radius: 30px
    padding: 10px 30px
    gap: 10px
  @include media(">tablet", "<=1400px")
    height: 4.285vw
    border-radius: 2.1429vw
    padding: 0.714vw 2.142vw
    gap: 0.714vw
  @include media(">phone", "<=tablet")
    height: 7.8125vw
    vertical-align: middle
    border-radius: 3.9063vw
    gap: 1.3021vw

  &:hover
    transition: 0.2s
    border: 2px solid $mainRed
    // *см. выше
    color: $mainRed

@mixin auth_Button
  display: flex
  border: none
  background-color: #FFFFFF
  color: $mainBlue
  font-family: $mainFontFamily
  font-weight: 400
  cursor: pointer
  @include media(">1400px")
    height: 44px
    border-radius: 25px
    padding: 10px 30px 10px 30px
    gap: 10px
    font-size: 20px
    line-height: 24px
  @include media(">tablet", "<=1400px")
    height: 3.1429vw
    border-radius: 1.7857vw
    padding: 0.7143vw 2.1429vw 0.7143vw 2.1429vw
    gap: 0.7143vw
    font-size: 1.4286vw
    line-height: 1.7143vw
  @include media(">phone", "<=tablet")
    height: 5.7292vw
    border-radius: 3.2552vw
    padding: 1.3021vw 3.9063vw 1.3021vw 3.9063vw
    gap: 1.3021vw
    font-size: 2.6042vw
    line-height: 3.1250vw

  &:hover
    transition: 0.2s
    background-color: #4B6FCB
    color: #FFFFFF